* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

ul li a:hover {
    color: #f16d35;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

figure img {
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

h2 {
    font-size: 2rem;
    color: #f16d35;
    margin-top: 1rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: center;
}

p {
    font-size: 1.2rem;
    text-align: justify-all;
    width: 800px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], input[type="date"], input[type="number"], select, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

select {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
}

button[type="submit"] {
    padding: 0.75rem;
    background-color: #f16d35;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #e95d2f;
}


.gallery-container {
    padding: 2rem;
}

.gallery-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery-grid img, .gallery-grid video {
    max-width: 100%;
    border: 5px solid #ddd;
    border-radius: 5px;
}

.gallery-grid img {
    width: calc(33.333% - 1rem);
}

iframe {
    border: none;
}

.pic-testimonio {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.disclaimer{
    background-color: #f16d35;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
}

footer {
    margin-top: 4rem;
    width: 100%;
    background-color: #f16d35;
    color: white;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer a {
    color: white;
}